<h1>Departments</h1>
{% if department_list %}
  <ul>
  {% for department in department_list  %}
    <li><a href="{% url 'HR:deptDetails' department.id %}">{{ department.name }}</a>
      <p>Department Budget: ${{ department.budget }}</p>
      <p>Number of Employees: {{ department.employee_set.all|length}}</p>
    </li>
      </br>
  {% endfor %}
  </ul>
{% else %}
  <p>No Departments</p>  
{% endif %}

<div>
  <form action="/HR/addDept" method='get'>
    <input type="submit" value="Add Department">
  </form>
</div>