{% extends '../index.html'  %}
{% block content %}
<h2>{{ training.name }}</h2>

<form action="{% url 'HR:editedTraining' training.id %}" method="POST">
        {% csrf_token %}
        <input type="text" value="{{training.name}}" name="training_name">
        <input type="date" value="{{start_date}}" name="training_startDate">
        <input type="date" value="{{end_date}}" name="training_endDate">
        <input type="number" value="{{training.maxAttendees}}" name="training_maxEnrollment" required="true">
        <input type="submit" value="Save Training">
</form>
{% endblock content %}