{% extends '../index.html' %}
{%block content%}
<h2>Add a New Employee</h2>
<form action="{% url 'HR:addemployee' %}" method='post'>
  {% csrf_token %}
  First Name: <input type="text" name="first_name" placeholder="First name"><br />
  Last Name: <input type="text" name="last_name" placeholder="Last name"><br />
  Start date: <input type="date" name="start_date"><br />
  Supervisor Status:<br />
  <input type="checkbox" name="is_supervisor" value=True>Yes<br>
  <input type="checkbox" name="is_supervisor" value=False>No<br>
  Department: <select name="department_id" id="employee_department">
    {% for department in department_list %}
    <option value="{{department.id}}">{{department.name}}</option>
    {% endfor %}
  </select><br /><br />
  <input type="submit" value="Save Employee">
</form>
{%endblock%}
