{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'HR/main.css' %}" />

<nav>
  <form action="/HR/" method='get'>
    <input type="submit" value="Home">
  </form>
  <form action="/HR/employees" method='get'>
    <input type="submit" value="Employees">
  </form>
  <form action="/HR/departments" method='get'>
    <input type="submit" value="View Departments">
  </form>
  <form action="/HR/songs/trainings" method='get'>
    <input type="submit" value="Trainings">
  </form>
  {%comment%}
  <form action="/HR/artists/computers" method='get'>
    <input type="submit" value="Computers">
  </form>
  {%endcomment%}
</nav>